<div class="col-md-4">
  <div class="card" data-id="<%= portfolio_item.id %>">
    <%= image_tag portfolio_img(portfolio_item.thumb_image.url, 'thumb'), width: '100%' unless portfolio_item.thumb_image.nil? %> 

    <p class="card-text">
      <span>View Project: <%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></span>
    </p>
  </div>
</div>