<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Chase Story</h1>
    <p class="lead blog-description">Hello! Welcome to my blog! Feel free to browse around, and if you desire to comment on a particular post, you may sign-up! Happy Reading!</p>
    <span>
     <%= link_to 'New Masterpiece', new_blog_path if logged_in?(:root_admin) %> /
    </span>
    <span>
      <%= link_to 'Topics', topics_path %>
    </span>
  </div>
</div>