<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Chase Story</h1>
    <p class="lead blog-description">This Blog is where we will write about pretty much any interesting topics. It should be quite entertaining... <u>SUBSCRIBE!</u></p>
    <span>
     <%= link_to 'Write a New Masterpiece', new_blog_path if logged_in?(:site_admin) %> /
    </span>
    <span>
      <%= link_to 'Topics', topics_path %>
    </span>
  </div>
</div>