<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Portfolio Projects</h1>
    <p class="lead text-muted">This page in the near future will have past, present, and projects.</p>
    <p>
      <%= link_to 'About Me', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'Blogs', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>