<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Projects currently updating content! Check back <strong>SOON!</strong></h1>
    <p class="lead text-muted">This page in the near future will have past, present, and ideas that maybe even <strong>YOU</strong> can participate in!</p>
    <p>
      <%= link_to 'Find Out More About US!!', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'Our Creations', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>