<div class="app-card-container">
  <div class="card">
        <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        
      
      <%= image_tag "chase.JPG", width: "300", height: "400", alt: "profile image", class: 'profile-img' %>
      </div>
      
      <div class="col-md-8">
       <p>Hello, Welcome to the about-me section of my portfolio. My name is Chase Story, I am 23 years young, and only recently discovered that being a Developer is something that not only interests me, but also fixed one of the biggest problems I have found in myself. In the 8 years I have been in the workforce, I would constanty find that I couldn't handle in a sense the jobs that didn't use the skills I possessed.</p>

        <p> Although, I didn't truly know my own capabilities, nor acknowledged that I could actually find a career field that I could not only be challenged, but the work I performed be contributing to something bigger than myself. To be able to create something that you know is appreciated is one of the most satisfying, as well as humbling things any one person could do. </p>

                  <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              School 1
            </div>
            <div class="card card-block">
              School 2
            </div>
            <div class="card card-block">
              School 3
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
