<div class="homep">
  <div class="card" class="inner cover">
    <h1 class="cover-heading">My Portfolio!</h1>
    <p class="lead">Welcome to the wonderful universe of Chase Story!</p>
    <p class="lead">
     <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>
</div>
