<div class="inner cover" style="margin-top:10px;">
  <h5 class="cover-heading" style="margin-top:10px;">Tech News!</h5>
  
    <div class="row">
      <% @tweets.each do |tweet| %>
        <div class="col-sm-6">
          <div class="tech-news">
            <div class="card">
              <%= twitter_parser tweet %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
